@mixin flex($fd: row, $ai: center, $jc: center, $fw: nowrap, $g: 0px) {
  display: flex;
  flex-flow: $fd $fw;
  align-items: $ai;
  justify-content: $jc;
  gap: $g;
}

@mixin text($s: 16px, $w: 400, $lh: 24px) {
  font-size: $s;
  font-weight: $w;
  line-height: $lh;
}

@mixin button-styles($w, $h, $py, $px) {
  min-width: $w;
  height: $h;
  padding: $py $px;
}

@mixin gradient() {
  background: radial-gradient(circle, rgb(255, 156, 111), rgb(255, 90, 15));
}
