@import '../../../scss/utils';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 69px;
}
.navPages {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  column-gap: 70px;
}
.navLink {
  color: inherit;
  transition: color 250ms ease;
  cursor: pointer;
}
.navLink:hover {
  color: $main-color;
}
.active {
  color: $main-color;
}
.navButtons {
  display: flex;
  column-gap: 40px;
}
